{% extends '__base.html' %}
{% load i18n %}
{% load allauth account %}

{% block content %}
<div class="account-container">
    <h1 class="account-title">Iniciar Sesión</h1>

    {% if not SOCIALACCOUNT_ONLY %}
    <p class="account-container-link">
        ¿Aún no tienes una cuenta?
        <a href="{{ signup_url }}" class="link">Regístrate</a> primero.
    </p>

    <form class="account-form" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="form-group">
             <strong>Nombre de usuario o correo:</strong> {{ form.login }} {{ form.login.errors }}
        </div>
        <div class="form-group">
            <strong>Contraseña</strong> {{ form.password }} {{ form.password.errors }}
            <a href="{% url 'account_reset_password' %}" class="forgot-password">¿Olvidaste la contraseña?</a>
        </div>
        {% if form.remember %}
        <div class="form-group form-check">
             Recuerdame en este equipo: {{ form.remember }}
        </div>
        {% endif %}
        {{ redirect_field }}
        <div class="form-actions">
            <button type="submit" class="boton-principal">Iniciar Sesión</button>
        </div>
    </form>
    {% endif %}

    {% if SOCIALACCOUNT_ENABLED %}
    <div class="social-login">
        <h3 class="social-title">{% trans "O inicia sesión con:" %}</h3>
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    </div>
    {% endif %}
</div>

{% include 'footer.html' %}

{% endblock %}