{% extends '__base.html' %}
{% load i18n %}
{% load allauth account %}

{% block content %}
<div class="account-container">
    <h1 class="account-title">Cerrar Sesión</h1>
    <p>¿Quieres cerrar tu sesión?</p>
    <form class="account-form" method="post" action="{% url 'account_logout' %}" no_visible_fields=True>
        {% csrf_token %}
        {{ redirect_field }}
        <div class="form-actions">
            <button type="submit" class="boton-principal">Cerrar Sesión</button>
        </div>
    </form>
</div>
{% include 'footer.html' %}

{% endblock content %}
