{% extends '__base.html' %}
{% load i18n %}
{% load allauth account %}

{% block content %}
<div class="account-container">
    <h1 class="account-title">Recuperar contraseña</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        ¿Olvidaste tu contraseña? Ingresa tu dirección de correo electronico para que podamos enviarte un email para recuperarla.
    </p>
    <form class="account-form" method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div class="form-group">
            <strong>Correo:</strong> {{ form.email }} {{ form.email.errors }}
            {% if form.email.help_text %}
            <small class="form-text text-muted">{{ form.email.help_text }}</small>
            {% endif %}
        </div>
        {{ redirect_field }}
        <div class="form-actions">
            <button type="submit" class="boton-principal">Recuperar contraseña</button>
        </div>
    </form>
</div>
{% include 'footer.html' %}

{% endblock content %}
