{% extends '__base.html' %}
{% load i18n %}
{% load allauth account %}
{% block content %}

<div class="account-container">
    <h1 class="account-title">
        {% if token_fail %}
            Token inválido
        {% else %}
            Recuperar contraseña
        {% endif %}
    </h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>El enlace para restablecer la contraseña no es válido, posiblemente porque ya se usó. Solicite un <a href="{% url 'account_reset_password' %}">nuevo link para reestablecer su contraseña</a>.</p>

    {% else %}
    <form class="account-form" method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ redirect_field }}
        <div class="form-group">
            <strong>Nueva contraseña:</strong> {{ form.password1 }} {{ form.password1.errors }}
            {% if form.new_password1.help_text %}
            <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group">
            <strong>Nueva contraseña (otra vez)</strong> {{ form.password2 }} {{ form.password2.errors }}
        </div>
        <div class="form-actions">
            <button type="submit" name="action" class="boton-principal">Cambiar contraseña</button>
            <button type="submit" form="logout-from-stage" class="boton-principal">Cancelar</button>
        </div>
    </form>
    {% endif %}
</div>


{% include 'footer.html' %}
{% endblock content %}
