{% extends '__base.html' %}
{% load i18n %}
{% load allauth account %}

{% block content %}
<div class="account-container">
    <h1 class="account-title">Registrarse</h1>

    <p class="account-container-link">¿Ya tienes una cuenta? Entonces, por favor, <a class="link" href="{{ login_url }}">inicia sesión</a>.</p>

    {% if not SOCIALACCOUNT_ONLY %}
    <form class="account-form" action="{% url 'account_signup' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <strong>Correo electrónico:</strong> {{ form.email }} {{ form.email.errors }}
        </div>
        <div class="form-group">
            <strong>Nombre de usuario:</strong> {{ form.username }} {{ form.username.errors }}
        </div>
        <div class="form-group" >
            <strong>Contraseña:</strong> {{ form.password1 }} {{ form.password1.errors }}
        </div>
        <div class="form-group">
            <strong>Confirmar contraseña:</strong> {{ form.password2 }} {{ form.password2.errors }}
        </div>
        <div class="form-actions">
            <button type="submit" class="boton-principal">Registrarse</button>
        </div>
    </form>
    {% endif %}

    {% if SOCIALACCOUNT_ENABLED %}
    <div class="social-login">
        <h3 class="social-title">inicia sesión con:</h3>
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    </div>
    {% endif %}
</div>

{% include 'footer.html' %}

{% endblock content %}