<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookBook</title>
</head>

<body>

    <header>
        <h1>
            <a href="{% url 'recipes-list' %}">CookBook</a>
        </h1>
        {% if user.is_authenticated %}
        <p>Bienvenido, {{ user.username }}!</p>
        <p><a href="{% url 'user_profile' username=user.username %}">Mi Perfil</a> | <a href="{% url 'account_logout' %}">Cerrar Sesión</a></p>
        {% else %}
        <p><a href="{% url 'account_login' %}">Iniciar Sesión</a> | <a href="{% url 'account_signup' %}">Registrarse</a></p>
        {% endif %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </header>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>