{% extends '__base.html' %}

{% block content %}
<h2>Crear Nueva Receta</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.title.label_tag }} {{ form.title }}
    {{ form.description.label_tag }} {{ form.description }}
    {{ form.image.label_tag }} {{ form.image }}
    {{ form.time_required.label_tag }} {{ form.time_required }}
    {{ form.servings.label_tag }} {{ form.servings }}
    {{ form.calification.label_tag }} {{ form.calification }}

    <h3>Agregar Ingrediente</h3>
    <div id="ingredients-container">
        <div class="ingredient-row">
            {{ form.ingredient_name.label_tag }} {{ form.ingredient_name }}
            {{ form.ingredient_quantity.label_tag }} <input type="text" name="{{ form.ingredient_quantity.name }}"
                id="ingredient_quantity_0"
                oninput="this.value = this.value.replace(/[^0-9./]/g, '').replace(/(\..*)\./g, '$1');">
            {{ form.ingredient_measurement.label_tag }} {{ form.ingredient_measurement }}
            <button type="button" class="remove-ingredient">Eliminar</button>
        </div>
    </div>
    <button type="button" id="add-ingredient">Agregar Ingrediente</button>

    <button type="submit">Guardar Receta</button>
</form>

<a href="{% url 'recipes-list' %}">Volver a la lista de recetas</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const ingredientsContainer = document.getElementById('ingredients-container');
        const addIngredientButton = document.getElementById('add-ingredient');

        addIngredientButton.addEventListener('click', function () {
            const timestamp = new Date().getTime();
            const newRow = document.createElement('div');
            newRow.classList.add('ingredient-row');
            newRow.innerHTML = `
                {{ form.ingredient_name.label_tag }} {{ form.ingredient_name }}
                {{ form.ingredient_quantity.label_tag }} <input type="text" name="{{ form.ingredient_quantity.name }}" id="ingredient_quantity_${timestamp}" oninput="this.value = this.value.replace(/[^0-9./]/g, '').replace(/(\..*)\./g, '$1');">
                {{ form.ingredient_measurement.label_tag }} {{ form.ingredient_measurement }}
                <button type="button" class="remove-ingredient">Eliminar</button>
            `;
            ingredientsContainer.appendChild(newRow);

            newRow.querySelector('.remove-ingredient').addEventListener('click', function () {
                newRow.remove();
            });
        });

        ingredientsContainer.querySelector('.remove-ingredient').addEventListener('click', function () {
            this.parentElement.remove();
        });
    });
</script>
{% endblock content %}