{% extends '__base.html' %}
{% block content %}
<div class="create-recipe-container">
    <h1>Editar Receta: {{ recipe.title }}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            {{ form.title }}
        </div>

        <div class="form-group">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Descripción:</label>
            {{ form.description }}
        </div>

        <div class="form-group file-upload-wrapper">
            <label for="upload-button" class="upload-button">Seleccionar Archivo</label>
            {{ form.image }}
            <span id="file-name"></span>
            {{ form.image.errors }}
        </div>

        <div class="form-group">
            {{ form.time_required.errors }}
            <label for="{{ form.time_required.id_for_label }}">Tiempo requerido:</label>
            {{ form.time_required }}
        </div>

        <div class="form-group">
            {{ form.servings.errors }}
            <label for="{{ form.servings.id_for_label }}">Porciones:</label>
            {{ form.servings }}
        </div>

        <h2>Etiquetas</h2>
        <div>
            {% for tag_type in tag_types %}
            <button type="button" class="tag-type-button" data-tag-type="{{ tag_type }}">{{ tag_type }}</button>
            {% endfor %}
        </div>

        <div id="tag-selection-container">
            {% for tag_type in tag_types %}
            <div class="tag-type-section" id="tag-section-{{ tag_type }}" style="display: none;">
                <h3>{{ tag_type }}</h3>
                {% for tag in all_tags %}
                {% if tag.tag_type == tag_type %}
                <label>
                    <input type="checkbox" name="tags" value="{{ tag.id }}" {% if tag in recipe.tags.all %}checked{% endif %}> {{ tag.name }}
                </label><br>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <h2>Ingredientes</h2>
        <div id="ingredients-container">
            {% for ingredient in recipe.recipeingredient_set.all %}
            <div class="ingredient-form">
                <div class="form-group">
                    <label>Nombre Ingrediente</label>
                    <input type="text" name="ingredient_name" value="{{ ingredient.ingredient.name }}">
                </div>
                <div class="form-group">
                    <label>Cantidad</label>
                    <input type="number" name="ingredient_quantity" value="{{ ingredient.quantity }}" min="0">
                </div>
                <div class="form-group">
                    <label>Medida</label>
                    <select name="ingredient_measurement">
                        {% for option, display in ingredient.MEASUREMENT_CHOICES %}
                        <option value="{{ option }}" {% if option == ingredient.measurement %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="button" class="remove-ingredient">Eliminar Ingrediente</button>
            </div>
            {% endfor %}

            <div class="ingredient-form">
                <div class="form-group">
                    <label>Nombre Ingrediente</label>
                    <input type="text" name="ingredient_name">
                </div>
                <div class="form-group">
                    <label>Cantidad</label>
                    <input type="number" name="ingredient_quantity" min="0">
                </div>
                <div class="form-group">
                    <label>Medida</label>
                    <select name="ingredient_measurement">
                        {% for option, display in measurement_choices %}
                            <option value="{{ option }}">{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="button" class="remove-ingredient">Eliminar Ingrediente</button>
            </div>
        </div>
        <button type="button" id="add-ingredient">Agregar Ingrediente</button>

        <h2>Pasos</h2>
        <div id="steps-container">
            {% for step in recipe.steps.all %}
            <div class="step-form">
                <div class="form-group">
                    <label for="step_description">Descripción del paso:</label>
                    <textarea name="step_description">{{ step.description }}</textarea>
                </div>
                <button type="button" class="remove-step">Eliminar Paso</button>
            </div>
            {% endfor %}
            <div class="step-form">
                <div class="form-group">
                    <label for="step_description">Descripción del paso:</label>
                    <textarea name="step_description"></textarea>
                </div>
                <button type="button" class="remove-step">Eliminar Paso</button>
            </div>
        </div>
        <button type="button" id="add-step">Agregar Paso</button>

        <div class="form-actions">
            <button type="submit">Guardar Cambios</button>
            <a href="{% url 'recipe-detail' pk=recipe.pk %}"><button type="button">Cancelar</button></a>
        </div>
    </form>
</div>

{% include 'footer.html' %}

<script>
    document.querySelectorAll('.tag-type-button').forEach(button => {
        button.addEventListener('click', function () {
            const tagType = this.dataset.tagType;
            const tagSection = document.getElementById(`tag-section-${tagType}`);
            tagSection.style.display = tagSection.style.display === 'none' ? 'block' : 'none';
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const ingredientsContainer = document.getElementById('ingredients-container');
        const addIngredientButton = document.getElementById('add-ingredient');

        addIngredientButton.addEventListener('click', function () {
            const timestamp = new Date().getTime();
            const newRow = document.createElement('div');
            newRow.classList.add('ingredient-form');
            newRow.innerHTML = `
                <div class="form-group">
                    <label>Nombre Ingrediente</label>
                    <input type="text" name="ingredient_name">
                </div>
                <div class="form-group">
                    <label>Cantidad</label>
                    <input type="number" name="ingredient_quantity" min="0">
                </div>
                <div class="form-group">
                    <label>Medida</label>
                    <select name="ingredient_measurement">
                        {% for option, display in measurement_choices %}
                            <option value="{{ option }}">{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="button" class="remove-ingredient">Eliminar Ingrediente</button>
            `;
            ingredientsContainer.appendChild(newRow);
        });

        ingredientsContainer.addEventListener('click', function (e) {
            if (e.target.classList.contains('remove-ingredient')) {
                e.target.closest('.ingredient-form').remove();
            }
        });

        const stepsContainer = document.getElementById('steps-container');
        const addStepButton = document.getElementById('add-step');
        let stepCount = parseInt("{{ recipe.steps.count|add:1 }}");

        addStepButton.addEventListener('click', function () {
            const newRow = document.createElement('div');
            newRow.classList.add('step-form');
            newRow.innerHTML = `
                <div class="form-group">
                    <label for="step_description">Descripción del paso:</label>
                    <textarea name="step_description"></textarea>
                </div>
                <button type="button" class="remove-step">Eliminar Paso</button>
            `;
            stepsContainer.appendChild(newRow);
            stepCount++;
        });

        stepsContainer.addEventListener('click', function (e) {
            if (e.target.classList.contains('remove-step')) {
                e.target.closest('.step-form').remove();
            }
        });

        const imageInput = document.querySelector('input[type="file"][name="image"]');
        const imagePreviewContainer = document.createElement('div');
        imagePreviewContainer.style.marginTop = '10px';
        const imagePreview = document.createElement('img');
        imagePreview.style.maxWidth = '200px';
        imagePreview.style.maxHeight = '200px';
        imagePreview.style.display = 'none';
        imagePreviewContainer.appendChild(imagePreview);
        imageInput.parentNode.insertBefore(imagePreviewContainer, imageInput.nextSibling);

        imageInput.addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                }
                reader.readAsDataURL(file);
            } else {
                imagePreview.src = '';
                imagePreview.style.display = 'none';
            }
        });
    });
</script>
{% endblock content %}