{% extends '__base.html' %}

{% block content %}
<h1>Perfil de {{ user_profile.user.username }}</h1>

{% if user_profile.profile_picture %}
<img src="{{ user_profile.profile_picture.url }}" alt="Foto de perfil" style="max-width: 200px;">
{% else %}
<p>No hay foto de perfil.</p>
{% endif %}

<p><strong>Nombre:</strong> {{ user_profile.first_name|default:"No especificado" }}</p>
<p><strong>Apellido:</strong> {{ user_profile.last_name|default:"No especificado" }}</p>
<p><strong>País:</strong> {{ user_profile.country|default:"No especificado" }}</p>
<p><strong>Se unió el:</strong> {{ user_profile.user.date_joined|date:"d/m/Y" }}</p>
<p><strong>Recetas subidas:</strong> {{ created_recipes|length }}</p>

{% if user_profile.user == user %}
<a href="{% url 'edit_profile' %}">Editar Perfil</a>
{% endif %}

<h2>Recetas Creadas</h2>
<div class="recipe-grid">
    {% for recipe in created_recipes %}
    <div class="recipe-item">
        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="max-width: 200px;">
        {% endif %}
        <a href="{% url 'recipe-detail' pk=recipe.pk %}">{{ recipe.title }}</a>
    </div>
    {% endfor %}
</div>

<h2>Recetas Favoritas</h2>
<div class="recipe-grid">
    {% for recipe in favorite_recipes %}
    <div class="recipe-item">
        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="max-width: 200px;">
        {% endif %}
        <a href="{% url 'recipe-detail' pk=recipe.pk %}">{{ recipe.title }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}