{% extends '__base.html' %}
{% load static %}
{% block content %}

<div class="profile-detail-container">
    <div class="profile-detail-header">
        {% if user.profile.profile_picture %}
        <img src="{{ user.profile.profile_picture.url }}" alt="Avatar">
        {% else %}
        <img src="{% static 'images/default-avatar.jpg' %}" alt="Avatar por defecto">
        {% endif %}
        <div class="profile-details-section">
            <h1>{{ user_profile.user.username }}</h1>
            <p>{{ user_profile.first_name|default:"" }} {{ user_profile.last_name|default:"" }}</p>
            <p>País: {{ user_profile.country|default:"No especificado" }}</p>
            <p>Se unió el: {{ user_profile.user.date_joined|date:"d/m/Y" }}</p>
            <p>Recetas subidas: {{ created_recipes|length }}</p>
            {% if user_profile.user == user %}
                <a class="button" href="{% url 'edit_profile' %}">Editar Perfil</a>
            {% endif %}
        </div>
    </div>
</div>


<div class="recipes-section">
    <h2>Recetas creadas {% if user_profile.user != user %} por {{ user_profile.user.username }} {% endif %}</h2>
    <div class="recipe-list">
        {% for item in created_recipes %}
            {% include 'recipe-card.html' %}
        {% empty %}
            {% if user_profile.user == user %}
            <p>No hay recetas creadas</p>
            {% else %}
            <p>{{ user_profile.user.username }} no ha creado ninguna receta</p>
            {% endif %}
        {% endfor %}
    </div>    
    <div class="button-container">
        {% if user_profile.user == user %}
        <a class="button create-recipe-btn" href="{% url 'recipe-create' %}">Crear Receta</a>
        {% endif %}
    </div>
</div>


<div class="recipes-section">
    <h2>Recetas favoritas {% if user_profile.user != user %} de {{ user_profile.user.username }} {% endif %}</h2>
    <div class="recipe-list">
        {% for item in favorite_recipes %}
        {% include 'recipe-card.html' %}
        {% empty %}
        {% if user_profile.user == user %}
        <p>No hay recetas marcadas como favorita</p>
        {% else %}
        <p>{{ user_profile.user.username }} no ha marcado ninguna receta como favorita</p>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}